body{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}
.emotion{
    text-align: center;
    padding: 10px;
}
.emotion .emoji{
    font-size: 3em;
    text-shadow: 0 0 8px #555;
}
.dominant{
    background-color: #DDD;
}