{% extends 'base.html' %}

{% block content %}
<form action="." method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Your text:</label>
        <input type="text" class="form-control" name="contents" aria-describedby="contentHelp" rows="7" value="{{ contents }}" />
        <small id="contentHelp" class="form-text text-muted">This is a one-time thing and will not be stored on our servers.</small>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Discover emotions</button>
    </div>
</form>
{% block results %}
{% endblock results%}
{% endblock content %}