{% extends 'index.html' %}

{% block results %}
<div class="mt-5">
    <!-- <h3>Results</h3> -->
    <div class="d-flex flex-wrap justify-content-center align-items-center">
        {% for emotion, percentage in emotions.items() %}
            <div class="emotion m-3 {{ 'dominant' if dominant == emotion else '' }}">
                <p><strong>{{ emotion }}</strong></p>
                <p class="emoji">&#x{{ emotion_icons[emotion] }};</p>
                <p>{{ (percentage*100) | round }}%</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock results %}